<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="show_sql">true</property>
  <property name="hbm2ddl.auto">update</property>
 
  <!-- Mapping entities will be added here -->
  <mapping class="com.rca.entity.RcaCount"/>
  <mapping class="com.rca.entity.ProjectDetails"/>
  <mapping class="com.rca.entity.LoginDetails"/>
  <mapping class="com.rca.entity.SprintReport"/>
  <mapping class="com.rca.entity.UserProjects"/>
 </session-factory>
</hibernate-configuration>
